.user-header {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  color: #FFFFFF;
  background-image: url(../images/45-degree-fabric-light.png);
  background-color: #f5a208;
  padding-top: 100px;
}

.username {
  margin-top: -40px;
}

@media only screen and (min-width: 1024px) {
  .user-header {
    margin: 160px 20px 0px 50px;
    padding: 10px 0px 10px 0px;
  }
}
