.new-tweet {
  display: flex;
  flex-direction: column;
  background-color: #f4f1ec;
  width:100%;
}

#tweet-form {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
}

#tweet-text {
  background-color: #f4f1ec;
  border: hidden;
  border-bottom: 3px solid #000000;
  height: 40px;
  width:100%;
}

.new-tweet-footer {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  padding: 0px 0.5rem;
}

#tweet-button {
  background-color: #4056A1;
  color: #FFFFFF;
  border: hidden;
  border-radius: 3rem;
  padding: 0.33rem;
}

.counter {
  display: flex;
  align-items: center;
}

#tweet-button:hover {
  background-color: #5f80ec;
  cursor: pointer;
}

h2{
  margin-bottom: 15px;
}

.error-exceed-max-chars {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  border: 3px solid red;
  height: 50px;
  margin-bottom: 15px;
}

.error-empty-tweet {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  border: 3px solid red;
  height: 50px;
  margin-bottom: 15px;
}

.error-message {
  margin: 0px 30px 0px 30px;
}
